@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root{
    /* Colors */
    --primary-100: #85E2B9;
    --primary-200: #64C99D;
    --primary-300: #31B079;
    --accent-100: #12DE86;
    --accent-200: #19a568;
    --text-100: #010403;
    --text-200: #071210;
    --bg-100: #F3F3F3;
    --bg-200: #D5E0DC;
    --bg-300: #CCD6D2;
    --white-color: #F9F9F9;

    /* Font */
    /* .5rem = 8px | 1rem = 16px ... */
    --font-family: "Manrope", sans-serif;
    --biggest-font-size: 3rem;
    --big-font-size: 1.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --font-regular: 400;
    --font-semi-bold: 600;
    --font-bold: 700;
}

/* Fonts Responsivo */
@media screen and (min-width: 1150px) {
    :root{
        --biggest-font-size: 5.5rem;
        --big-font-size: 2.75rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1.125rem;
        --small-font-size: .875rem;
    }
}

/* Base */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body,
input,
textarea,
select,
option,
button{
    font-family: var(--font-family);
    font-size: var(--normal-font-size);
}

input,
button,
textarea,
select,
option{
    border: none;
    outline: none;
}

body.cadastro,
body.login{
    height: 100vh;
    background-color: var(--primary-100);

    display: grid;
    grid-template-rows: 70px 1fr;
    grid-template-areas: 
        "header"
        "main";

    overflow-x: hidden;
}

body.pagina-principal{
    height: 100vh;
    background: rgb(249,249,249);
    background: linear-gradient(156deg, rgba(249,249,249,1) 0%, rgba(243,243,243,1) 35%, rgba(213,224,220,1) 100%);
    /* background-color: var(--white-color); */
    color: var(--text-100);

    display: grid;
    grid-template-columns: 80px 1fr;
}

a{
    text-decoration: none;
    color: var(--text-100);
}

input,
select{
    background-color: var(--white-color);
}

button{
    background-color: var(--primary-100);
    transition: all .3s ease-in-out;
}

button:hover{
    cursor: pointer;
    background-color: var(--primary-200);
}

/* HEADER */
header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 10px 5px;
    /* background-color: var(--bg-200); */
}

button.btn-cadastrar,
button.btn-entrar{
    margin-top: 5px;
    padding: 8px;
    border-radius: 10px;
    font-weight: var(--font-bold);
    background-color: var(--primary-200);
}

button.btn-cadastrar:hover,
button.btn-entrar:hover{
    background-color: var(--primary-300);
}

main.main-login{
    grid-area: main;
}

/* SECTION - FORM LOGIN */
.form-login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.div-login{
    height: 300px;
    width: 300px;
    border-radius: 10px;
    background-color: var(--bg-200);
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: center;
}

.div-login h2{
    margin-bottom: 10px;
}

.box-cadastro{
    width: 300px;
    margin-top: 15px;
    border-radius: 10px;
    background-color: var(--bg-200);
    display: flex;
    align-items: center;
    padding: 20px 30px;
    justify-content: space-around;
}

.box-popup{
    background-color: var(--bg-100);
    position: absolute;
    width: 350px;
    height: 150px;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}

.box-popup-active{
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}

.box-popup span{
    font-size: var(--h3-font-size);
    text-align: center;
}

.box-popup button{
    display: block;
    width: 50%;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 15px;
    padding: 5px;
    font-weight: var(--font-semi-bold);
}

button.fazer-cadastro,
button.validar-login{
    font-weight: var(--font-semi-bold);
}

button.fazer-cadastro-2,
button.fazer-login-2{
    padding: 5px;
    border-radius: 5px;
    /* margin-left: 10px; */
    /* width: 50%; */
    padding: 7px;
    font-weight: var(--font-semi-bold);
}

/* BARRA LATERAL */
.barra-lateral{
    background-color: var(--primary-100);
    padding: .6rem;
    grid-column: 1 / 2;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header .box-logo a,
.barra-lateral .box-logo a{
    color: var(--text-100);
    display: flex;
    margin-left: 7px;
    margin-top: 5px;
}

header .img-logo,
.barra-lateral .img-logo{
    width: 45px;
    margin-right: .4rem;
}

.texto-header{
    display: inline;
}

.texto-barralateral{
    display: none;
}

header .texto-logo,
.barra-lateral .texto-logo{
    font-size: .9rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.barra-lateral .icons-menu,
.barra-lateral .user{
    display: flex;
    flex-direction: column;
    /* font-size: 1.5rem; */
}

.barra-lateral .icons-menu a{
    background-color: var(--bg-100);
    color: var(--text-100);
    margin: .4rem;
    padding: .8rem;
    border-radius: 10px;
    display: flex;
    align-items: center; 
    transition: all .3s ease-in-out;
}

.barra-lateral .user button{
    color: var(--text-100);
    margin: .4rem;
    padding: .8rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background-color: var(--primary-200);
    transition: all .3s ease-in-out;
}

.barra-lateral .user button:hover{
    background-color: var(--primary-300);
}

.barra-lateral .icons-menu a span,
.barra-lateral .user button{
    font-weight: 800;
    font-size: 1.05rem;
}

.barra-lateral .icons-menu a:hover{
    background-color: var(--primary-200);
}

.barra-lateral .icons-menu a i,
.barra-lateral .user button i{
    margin-right: 1rem;
    font-size: 1.7rem;
    place-items: center;
    margin-left: -2px;
}

.span-resumo,
.span-entradas,
.span-saidas,
.span-graficos,
.span-sair{
    display: none;
}

/* AREA PRINCIPAL */
.area-principal{
    grid-column: 2 / 3;
    overflow-y: auto;
}

/* FORM - ENTRADAS & DESPESAS */
#resumo,
#add-entrada,
#add-despesa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin: 20px 20px 10px 20px;
    background-color: var(--bg-100);
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.div-login h2,
#graficos h2,
#resumo h2,
#add-entrada h2,
#add-despesa h2{
    text-align: center;
    padding-bottom: 20px;
}

.div-login input,
.div-login select,
.div-login button,
#add-entrada input,
#add-entrada select,
#add-entrada button,
#add-despesa input,
#add-despesa select, 
#add-despesa button{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    /* font-size: 1rem; */
}

#resumo h2{
    margin-top: 10px;
}

#resumo .box-saldos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#resumo .div-entradas,
#resumo .div-saidas,
#resumo .div-saldo-mes{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-100);
    padding: .8rem;
    height: 100px;
    width: 160px;
    border-radius: 10px;
    margin: 10px 0;
}


#resumo .div-entradas i,
#resumo .div-saidas i,
#resumo .div-saldo-mes i{
    margin: 3px 0;
    font-size: 1.2rem;
}   

#resumo .div-entradas span,
#resumo .div-saidas span,
#resumo .div-saldo-mes span{
    font-weight: var(--font-bold);
}

/* LISTA ENTRADAS & DESPESAS */
#lista-entrada,
#lista-despesa{
    margin-top: 20px;
}

#lista-entrada .entrada,
#lista-despesa .despesa{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    padding: 10px 15px;
    margin: 0 20px 10px 20px;
    background-color: var(--bg-100);
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.card-valor-descricao{
    display: flex;
    align-items: center; 
    justify-content: space-between;
    font-size: .9rem;
    font-weight: var(--font-bold);
    flex-grow: 1; 
    position: relative;
}

button i{
    font-size: 1rem;
}

.botoes{
    display: flex;
    gap: 7px;
}

.categoria, 
.data,
.data-entrada{
    font-size: .7rem;
    color: var(--text-200);
}

.descricao{
    white-space: nowrap;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.valor,
.valor-entrada {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    min-width: 100px;
    text-align: center;
}

.data{
    padding-top: 2px;
}

.editar-despesa,
.editar-entrada,
.remover-entrada,
.remover-despesa{
    padding: 4px;
    border-radius: 5px;
}

/* GRÁFICOS */
#graficos{
    padding: 20px;
    margin: 20px 20px 10px 20px;
    background-color: var(--bg-100);
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.graficos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.saldo-chart,
.entradas-chart,
.despesas-chart{
    width: 300px;
    height: 300px;
}

/* LARGE DEVICES */
@media screen and (min-width: 1150px){
    /* HEADER */
    header{
        padding: 10px 30px 10px 20px;
    }

    button.btn-cadastrar,
    button.btn-entrar{
        padding: 10px;
    }

    /* LOGO */
    header .img-logo,
    .barra-lateral .img-logo{
        width: 50px;
        margin-right: .7rem;
    }

    header .texto-logo,
    .barra-lateral .texto-logo{
        font-size: 1rem;
    }

    /* BARRA LATERAL */
    h2.texto-barralateral,
    .span-resumo,
    .span-entradas,
    .span-saidas,
    .span-graficos,
    .span-sair{
        display: inline;
    }

    /* SECTION - FORM LOGIN */
    body.pagina-principal{
        grid-template-columns: 250px 1fr;
    }

    .box-cadastro,
    .div-login{
        width: 400px;
    }

    button.fazer-cadastro-2,
    button.fazer-login-2{
        margin-left: 10px; 
        width: 50%;
    }

    /* RESUMO */
    #resumo .box-saldos{
        flex-direction: row;
    }
    
    #resumo .div-entradas,
    #resumo .div-saidas,
    #resumo .div-saldo-mes{
        margin: 0;
    }

    /* CARDS - ENTRADA E SAÍDA */
    .card-valor-descricao{
        font-size: 1.2rem;
    }

    .categoria,
    .data,
    .data-entrada{
        font-size: .8rem;
    }
    
    button i{
        font-size: 1.2rem;
    }

    .botoes{
        gap: 10px;
    }

    .valor,
    .valor-entrada {
        text-align: left;
    }

    /* GRÁFICOS */
    .saldo-chart,
    .entradas-chart,
    .despesas-chart{
        width: 350px;
        height: 350px;
    }
}